/* --- --- --- --- --- --- --- */
// Collections Theme Variables
/* --- --- --- --- --- --- --- */

//General
$img-url: "../images";

// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: "calluna-sans";

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.5;
$h2-font-size: $base-font-size * 2.25;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.65;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Default Colors
$blue: #477DCA;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$dark-gray: #757473;
$medium-gray: #727272;
$light-gray: #b6b6b6;

$clear: #EEEBF5;
$upper-clear: #E2DDED;
$strong-clear: #DCD5EB;
$bold-clear: #DBC7F4;

$quarter-base: #EEEBF5;
$half-base: #a16de1;
$base: #673ab7;
$strong-base: #512da8;

$half-accent: #726CE0;
$accent: #5551A8;
$strong-accent: #29274C;

// Background Color
$base-background-color: $clear;
$box-background-color: $upper-clear;
$box-background-hover: $strong-clear;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $accent;

// Link Colors
$base-link-color: lighten($accent, 20%);
$hover-link-color: $accent;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

//Footer Colors
$footer-background: desaturate($strong-base, 20%);
$footer-color: $quarter-base;
$footer-link-color: transparentize($footer-color, 0.4);
$footer-disclaimer-color: transparentize($quarter-base, 0.4);

// Border color
$base-border-color: $quarter-base;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
//$form-border-radius: $base-border-radius;
//$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
//$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
//$form-font-size: $base-font-size;
//$form-font-family: $base-font-family;