/*Imports*/
@import "mixins.scss";
@import "variables.scss";
@import "pesticide.scss";

/*Pesticide Layout Debug*/
@include pesticide(false);
/*------------------------------*/

/*Global Typography*/

body {
	@include base(1.1em, 1.5, 400);
	background-color: $grey-pallette-b;
}

h1 { 
	@include huge(250%, 1.3, 700);
	color: $light-pallette-b;
}

h2 { 
	@include heading(200%, 1.3, 700);
	color: $light-pallette-c;
}

h3 { 
	@include heading(130%, 1.5, 600)
}

h4 { 
	@include heading(110%, 1.3, 600)
}

/*Main Sections*/

nav {
	ul {
		list-style-type: none;
		@include huge(250%, 1.3, 700);
		@include nth-color(1, $light-pallette-a);
		@include nth-color(2, $light-pallette-b);
		@include nth-color(3, $light-pallette-c);
		@include nth-color(4, $light-pallette-d);
	}
	}



body { }

	@include sticky-footer(60px);

