//Imports
@import "mixins.scss";
@import "variables.scss";
@import "images.scss";
@import "pesticide.scss";


/*Pesticide Layout Debug*/
@include pesticide(false);

//--------------------------------------------------------
//--------------------------------------------------------

//--------------------------------------------------------
//Global Typography
//--------------------------------------------------------

@include font-crispness;

body {
	@include base(1.1em, 1.5, 400);
	background-color: $grey-pallette-b;
}

.page-content {
	
	p {
		@include margin(0, 1);
	}

	h1 { 
		@include huge(2.5em, 1.3, 700);
		@include margin(0, 0.2);
		color: $light-pallette-b;
	}

	h2 { 
		@include heading(2em, 1.3, 700);
		@include margin(3, 0.2);
		margin-top: 3rem;
		color: $light-pallette-c;
		
	}

	h3 { 
		@include heading(1.3em, 1.5, 600);
		@include margin(0, 1.5);
		@include accent-link;

	}

	h4 { 
		@include heading(1.1em, 1.3, 600);
		@include margin(0, 1.5);
	}
}

.post-header {
	
	h2 {
		@include margin(0, 1);
	}

	h3 { 
		@include margin(0, 1.5);
	}

	img {
		box-shadow: 0 3px 4px $black-pallette-c;
	}

}

//--------------------------------------------------------
//Main divs
//--------------------------------------------------------

//Header and Nav
//--------------------------------------------------------
nav {
	
	@include span-columns(3);
	
	ul {
		list-style-type: none;
		padding: 0.36em 0 0 0.7em;
		@include huge(165%, 1.3, 700);
		@include nth-color(1, $light-pallette-a);
		@include nth-color(2, $light-pallette-b);
		@include nth-color(3, $light-pallette-c);
		@include nth-color(4, $light-pallette-d);
	}
}

//Body
//--------------------------------------------------------

.page-content {
	@include span-columns(6);
}	

article {
	@include margin(0, 6);
}

img {
	width: 100%;
}

//Footer
//--------------------------------------------------------

footer {
	@include span-columns(12);
}

@include sticky-footer(3em);

//--------------------------------------------------------
//Interface Modules
//--------------------------------------------------------

section.persona-panel {
	@include span-columns(12);
	@include margin(2, 3);
	//This margin-bottom 3 is compensating the H2 at Information Architecture, whose margin-top for some reason does not work.
	//FIX IT!!!

	section.persona {
		@include span-columns(4 of 12);
		
		blockquote {
			@include base(0.8em, 1.5, 400);
			font-style: italic;
		};
		
		img {
			border-radius: 50%;
		}
		
	}
}