//Imports
@import "mixins.scss";
@import "variables.scss";
@import "pesticide.scss";

/*Pesticide Layout Debug*/
@include pesticide(false);
/*------------------------------*/

/*Global Typography*/

body {
	@include base(1.1em, 1.5, 400);
	background-color: $grey-pallette-b;
}

.page-content {
	
	margin-bottom: 6rem;

	p {
		@include text-margin(0, 1);
	}

	h1 { 
		@include huge(2.5em, 1.3, 700);
		@include text-margin(0, 0.2);
		color: $light-pallette-b;
	}

	h2 { 
		@include heading(2em, 1.3, 700);
		@include text-margin(3, 0.2);
		color: $light-pallette-c;
		
	}

	h3 { 
		@include heading(1.3em, 1.5, 600);
		@include text-margin(0, 1.5);

	}

	h4 { 
		@include heading(1.1em, 1.3, 600);
		@include text-margin(0, 1.5);
	}
}

.post-header {
	
	h2 {
		@include text-margin(0, 1);
	}

	h3 { 
		@include text-margin(0, 1.5);
	}
}
//--------------------------------------------------------
//Main Sections
//--------------------------------------------------------

//Header and Nav
//--------------------------------------------------------
nav {
	
	@include span-columns(3);
	
	ul {
		list-style-type: none;
		padding: 0.36em 0 0 0.7em;
		@include huge(165%, 1.3, 700);
		@include nth-color(1, $light-pallette-a);
		@include nth-color(2, $light-pallette-b);
		@include nth-color(3, $light-pallette-c);
		@include nth-color(4, $light-pallette-d);
	}
}

//Body
//--------------------------------------------------------

.page-content {
	@include span-columns(6);
}	

img {
	width: 100%;
}

//Footer
//--------------------------------------------------------

footer {
	@include span-columns(12);
}

@include sticky-footer(3em);

