---
layout: default
---

{% for post in site.categories.links %}

         <article class="link-box">
          <div class="link-box__inner">
			
			{% if post.image == 1 %}

            <div class="link-box__img">
              <a href="{{ post.source }}" target="_blank">
              <img src="assets/images/articles/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.image-name }}" alt="{{ post.image-alt }}">
              </a>
            </div>

      {% else %}
      {% endif %}

            {% if page.source == null %}
            <a href="{{ post.url }}" target="_blank"><h3 class="link-box__title">{{ post.title }}</h3></a>
            {% else %}
            <a href="{{ post.source }}" target="_blank"><h3 class="link-box__title">{{ post.title }}</h3></a>
            {% endif %}
            
            <div class="link-box__description">{{ post.content }}</div>
            
            <a href="{{ post.url }}">
      			 <div class="link-box__permalink">
          		<span class="permalink__text">Permalink</span>
          		<img src="assets/images/interface/permalink.svg" alt="Permalink" class="permalink__icon">
              </div>
            </a>
          </div>
      </article> 
{% endfor %}