@import "toolbox.scss";

// Components
// ------------------------------------------------------------------------


// CTA
// ------------------------------------------------------------------------

$cta-width: 10;
$total-width: 10;
        
.cta {
  @include span-columns($cta-width of $total-width);
  @include shift(($total-width - $cta-width)/ 2 );
  @include margin(1.5em null null null);
  text-align: center;

  p {
    font-weight: 400;
  }
}

@include form-keepin(8, 6.5);
@include media($medium-screen) { @include form-keepin(4, 3) }
@include media($large-screen) { @include form-keepin(3, 2) }

// Hero Variables
// ------------------------------------------------------------------------

  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-color: $strong-base;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

// Hero
// ------------------------------------------------------------------------

.hero {

  @include span-columns(16 of 16);  
  background: url("../images/interface/bg_link.png");
  background-repeat: repeat-x 0 0;

  button {
    @include button(flat, $base-accent-color);
    padding: 0.7em 1em;
  }
}

.hero-logo {
  height: 6em;
  margin-bottom: 1em;
  @extend .unselectable;
}

.hero-inner {
  @include omega;
  @include clearfix;
  color: $darker-gray;
  margin: auto;
  padding: 3.5em;
  text-align: center;
}

.hero-copy {
  text-align: center;
  
  h1 {
    color: $dark-gray;
    margin-bottom: 0.1em;
    
    
  }

  h5 {
    color: $dark-gray;
    margin-bottom: 1em;
  }

  h2 {
  color: $dark-gray;
  font-size: $h4-font-size;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 auto 0 auto; 
  }


  .hero-list { 
    margin-bottom: 0.5em;

    li {
      color: $dark-gray;
      display: inline;

      font-family: $header-font-family;
      font-size: $h4-font-size;
      font-weight: 300;

      line-height: 1.4em;
      list-style-type: none;
 
      margin: 0 auto 0 auto; 
      padding: 0.25em 0em;
      //text-align: left;
    }      
    
      li:nth-child(odd)::after {
            content: " ·";
            font-weight: 700;
      }

      li:nth-child(2)::after {        
            content:"\a";
            white-space: pre;
      }
    

      @include media($medium-screen, $large-screen) { 

        li:nth-child(1)::after, li:nth-child(2)::after, li:nth-child(3)::after { 
          content: " ·";
          font-weight: 700;
        }

        li:last-of-type {
          content: " "
        }
      }
    }
}
