// Main Layout
// ------------------------------------------------------------------------

body {
	margin: 0px;
}

.container {
  @include media($medium-screen, $large-screen) {
    @include span-columns(16 of 16);
  }
}

header.navigation {
  $navigation-padding: 1em;
  $navigation-height: 60px;
  min-height: $navigation-height;
  margin-bottom: -$navigation-height;
  width: 100%;
  z-index: 999;
  background: none;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;

    .back-home {
    font-family: 'jaf-domus-titling-web', $sans-serif;
    font-weight: 700;
    font-size: $h5-font-size;
    padding-left: $navigation-padding;

    a { color: #CC514E };
    a:hover { color: #CB4D4E };
    }

    .back-arrow {
      @include media($medium-screen, $large-screen) { 
        height: 15px;
        width: 20px;
        margin-right: 5px
      }

      height: 25px;
      margin-top: 15px;

      //background: url('#{$img-url}/back-arrow.svg') no-repeat right;

      &:hover {
        //background-image: url('#{$img-url}/back-arrow--hover.svg') no-repeat right;
      }
    }

  }

}

.wrapper {
  @include outer-container;

  @include media($small-screen) {
    @include span-columns(9.5 of 10);
    @include shift(0.25);
  }
}

section.content {

  @include media($medium-screen-up) {
    @include span-columns(10 of 16);
    @include shift(0.25); 
  }
  
  @include media($small-screen) {
    //@include shift(0.375);
    //@include span-columns(9.5 of 10);
  }

  margin-bottom: 1.5em;

  h5 {
    @include margin(2em null 1em null);
  }
}

aside.sidebar {
  @include media($medium-screen-up) {
    @include span-columns(5.5 of 16);
  }
}

.sidebar__box {
  background: $quarter-base;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1.5em;

}

.sidebar__inner {
  @include outer-container;
  padding: 1.5em;

  h2 {
    font-size: $h5-font-size;
    margin-bottom: 1em; 
  }

  p {
    text-align: left;
  }

  form {
    @include span-columns(12 of 12);
    display: inline-block;
  }
  
  .input, button {
    @include span-columns(12 of 12);
  }

  input + input {
    margin-top: -0.5em;
  }
}


.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default; 
  
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
    color: $light-gray;
    &:hover { color: darken($light-gray, 10%) }
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: desaturate($strong-base, 20%);
  $footer-color: $darker-gray;
  $footer-link-color: transparentize($footer-color, 0.4);
  $footer-disclaimer-color: transparentize($light-gray, 0.4);

  background: $footer-background;
  padding: ($base-spacing) $gutter;
  @include span-columns(16 of 16);

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  hr {
    border: 1px solid transparentize($light-gray, 0.4);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.pagination {  
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
    
    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      @include transition (all 0.2s ease-in-out);
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $pagination-border;
      color: $pagination-color;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;

      &:hover,
      &:focus {
        background: $pagination-hover-background;
        color: $base-link-color;
      }

      &:active {
        background: $pagination-background;
      }
    }
  }
}
