---
section: work
width: regular
---

{% include head.html %}

  <div id="viewport" class="container">

    {% include header.html %}

      <div class="wrapper">

        <section class="content--{{ layout.width }} content--post">
              
            <!-- === === === === === === HERO IMAGE === === === === === ===  -->
            
            <div class="card__img">
              {% if page.meta-hero %}
                {% if page.meta-hero contains "http" %}
                  <img src="{{ page.meta-hero }}" alt="{{ page.meta-alt }}">
                {% else %}
                  <img src="{{ site.baseurl }}/assets/images/work/{{ page.title | slugify }}/{{ page.meta-hero }}" alt="{{ page.image-alt }}">
                {% endif %}
              {% endif %}
            </div>

          <article class="card">
            
            <div class="card__inner">

              <!-- === === === === === === PAGE METADATA === === === === === ===  -->
              
              <div class="card__info">
                
                <div class="card__heading">
                  <h1 class="card__title">{{ page.title }}</h1>
                  <h2 class="card__subtitle">{{ page.tagline }}</h2>
                </div>

                <div class="card__work-metadata">
                  <ul class="work-metadata__list">

                    {% if page.meta-project %}
                    <li class="work-metadata__item"><strong>Project: </strong>{{ page.meta-project }}</li>
                    {% endif %}
                    
                    {% if page.meta-client %}
                    <li class="work-metadata__item"><strong>Client: </strong>{{ page.meta-client }}</li>
                    {% endif %}

                    {% if page.meta-role %}
                    <li class="work-metadata__item"><strong>Role: </strong>{{ page.meta-role }}</li>
                    {% endif %}

                    {% if page.meta-timeline %}
                    <li class="work-metadata__item"><strong>When: </strong>{{ page.meta-timeline }}</li>
                    {% endif %}

                    {% if.page.project-url %}        
                      <li class="work-metadata__item"><strong><a href="{{ page.project-url }}">See the Project</a></strong></li>
                    {% endif %}                  

                    {% if.page.prototype %}
                      {% if.page.prototype-embed-url %}        
                        <li class="work-metadata__item mobile-hide"><strong><a href="#prototype">See the Prototype</a></strong></li>

                        <li class="work-metadata__item desktop-hide"><strong><a href="{{ page.prototype-url }}" target="_blank">See the prototype</a></strong></li>
                      {% else %}
                        <li class="work-metadata__item"><strong><a href="{{ page.prototype-url }}" target="_blank">See the prototype</a></strong></li>                      
                      {% endif %}  
                    {% endif %}  
                  </ul>
                </div>
              </div>      

              <!-- === === === === === === CONTENT === === === === === ===  -->
                <div class="content--jekyll">
                  {{ content }}
                </div>
              <!-- === === === === === === ADDITIONAL INFO === === === === === ===  -->

              {% if page.prototype %}
                <div class="prototype-wrapper" id="prototype">
                  {% if page.prototype-embed-url %}
                    <div class="prototype mobile-hide">
                      <iframe width="396" height="834" src="{{ page.prototype-embed-url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  {% endif %}

                  <div class="prototype__button desktop-hide">
                      <a href="{{ page.prototype-url }}" target="_blank">
                          <strong>
                              See the Prototype
                          </strong>
                      </a>
                  </div>    
                </div>
              {% endif %}

              {% if page.append-bucket %}
                  {% for item in site.items %}
                    {% if item.parent-collection == page.append-bucket %}
                      <section class="append-bucket">
                            <h5 class="append-bucket__title">
                              <a href="{{ item.source }}">
                                {{ item.name }}
                              </a>
                            </h5>

                            <p class="card-item__text">{{ item.content }}</p>
                      </section>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
              
              <!-- === === === === === === "BACK BUTTON" NAV === === === === === ===  -->            
              
              <nav class="inpage-nav">
                <a href="/work">&#8592 back to Work</a>
              </nav>

          </article> 
        </section>
      </div> <!-- wrapper -->

    {% include footer.html %}

  </div> <!-- viewport -->

</body>
</html>