<header role="banner">

<div class="page-header">
  <div class="hero">
    <div class="hero-inner">
      
      <a href="{{ site.domain }}/links">
        <img class="hero-logo" src="{{ site.baseurl }}/assets/images/interface/logo.svg?bust={{ site.time | date: '%s' }}" alt="Logo Image">
      </a>
      
      <div class="hero-copy">
        
        {% if page.layout contains "post" %}
        <h2 class="hero-title">
        {% else %}
        <h1 class="hero-title">
        {% endif %}

          <a href="{{ site.domain }}/links">The Link List</a>

        {% if page.layout contains "post" %}
        </h2>
        {% else %}
        </h1>
        {% endif %}

        <ul class="hero-list">
            <li class="hero-list__item">Design</li>
            <li class="hero-list__item">Development</li>
            <li class="hero-list__item">Startups</li>
            <li class="hero-list__item">Weird News</li>
        </ul>

      </div>

    </div>
  </div>
</div>

</header>

      