<header role="navigation">
  <div class="header">
    <div class="nav__wrapper">

      <nav class="nav">
        
        <nav class="subnav">
            {% if page.layout contains "post" %}
            <h2 class="subnav__text--type__page-title">
            {% else %}
            <h1 class="subnav__text--type__page-title">
            {% endif %}

              <a href="{{ site.domain }}/links">NOTES</a>

            {% if page.layout contains "post" %}
            </h2>
            {% else %}
            </h1>
            {% endif %}
        </nav>

        <nav class="subnav">
            {% if page.layout contains "post" %}
            <h3 class="subnav__text--color__buckets">
            {% else %}
            <h2 class="subnav__text--color__buckets">
            {% endif %}

              <a href="{{ site.domain }}/links">BUCKETS</a>

            {% if page.layout contains "post" %}
            </h3>
            {% else %}
            </h2>
            {% endif %}            
        </nav>

        <nav class="subnav">
            {% if page.layout contains "post" %}
            <h3 class="subnav__text--color__projects">
            {% else %}
            <h2 class="subnav__text--color__projects">
            {% endif %}

              <a href="{{ site.domain }}/links">WORK</a>

            {% if page.layout contains "post" %}
            </h3>
            {% else %}
            </h2>
            {% endif %}            
        </nav>

        <nav class="subnav">
            {% if page.layout contains "post" %}
            <h3 class="subnav__text--type__site-title">
            {% else %}
            <h2 class="subnav__text--type__site-title">
            {% endif %}

              <a href="{{ site.domain }}/links">DANIEL FOSCO</a>

            {% if page.layout contains "post" %}
            </h3>
            {% else %}
            </h2>
            {% endif %}            
        </nav>
		<!-- 
        {% if page.layout contains "post" %}
        <h3 class="header-copy__sitename">
        {% else %}
        <h2 class="header-copy__sitename">
        {% endif %}
			
		Daniel Fosco

        {% if page.layout contains "post" %}
        </h3>
        {% else %}
        </h2>
        {% endif %}
		 -->

      </nav>

    </div>
  </div>

</header>

      