<header role="banner">
<div class="page-header">
  <div class="header">
    <div class="header-inner">

      <div class="header-copy">
        
        {% if page.layout contains "post" %}
        <h2 class="header-copy__title">
        {% else %}
        <h1 class="header-copy__title">
        {% endif %}

          <a href="{{ site.domain }}/links" class="title__link">Notes</a>

        {% if page.layout contains "post" %}
        </h2>
        {% else %}
        </h1>
        {% endif %}

		<!-- 
        {% if page.layout contains "post" %}
        <h3 class="header-copy__sitename">
        {% else %}
        <h2 class="header-copy__sitename">
        {% endif %}
			
		Daniel Fosco

        {% if page.layout contains "post" %}
        </h3>
        {% else %}
        </h2>
        {% endif %}
		 -->
      </div>

    </div>
  </div>
</div>

</header>

      