<header role="banner">

<div class="page-header">
  <div class="hero">
    <div class="hero-inner">
      
      <a href="{{ site.baseurl }}">
        <img class="hero-logo" src="{{ site.baseurl }}/assets/images/interface/logo.svg?bust={{ site.time | date: '%s' }}" alt="Logo Image">
      </a>
      <div class="hero-copy">
        <h1>
          <a href="{{ site.baseurl }}">The Link List</a>
        </h1>
        <h5>Curated by Daniel Fosco</h5>
        <ul class="hero-list">
            <li>Design</li>
            <li>Development</li>
            <li>Startups</li>
            <li>Weird News</li>
        </ul>
      </div>

    </div>
  </div>
</div>

</header>

    <div class="wrapper">

      