{% if page.layout == "links/post" %}
	{% assign sidebar_type = "--post" %}
{% else %}
	{% assign sidebar_type = "" %}
{% endif %}

<aside class="sidebar" id="subscribe">
	<div class="sidebar__box--links{{ sidebar_type }}">
	    <div class="sidebar__inner">
			
	    <h5>Links, Articles and Commentary <br>by Daniel Fosco</h5>

	    <p>Subscribe to get the best of the week on your inbox every Sunday morning.</p>
		<p>Don't worry about spam, I hate it as much as you do.</p>
	    
	    <form accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">
	 
	    <div class="input">
	      <!-- <input type="text" name="name" placeholder="First Name">  -->
	      <input type="email" name="email" placeholder="Email Address">
	    </div>
	    
	    <button action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Subscribe</button>
	    </div>
	</div>
</aside>