//General
$img-url: "../../images";

// Typography
$sans-serif: $helvetica !default;
$serif: $georgia !default;
$base-font-family: $sans-serif !default;

$header-font-family: "calluna-sans" !default;

// Font Sizes
$base-font-size: 1em !default;
$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2.25 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;

// Line height
$base-line-height: 1.65 !default;
$header-line-height: 1.25 !default;

// Other Sizes
$base-border-radius: 3px !default;
$base-spacing: $base-line-height * 1em !default;
$base-z-index: 0 !default;

// Default Colors
$blue: #477DCA !default;
$light-red: #FBE3E4 !default;
$light-yellow: #FFF6BF !default;
$light-green: #E6EFC2 !default;

// LinkList Colors
$black-3: #757473;
$white-1: #cccbc8 !default;
$white-2: #f5f2eb !default;

$strong-clear: #F5E8C7 !default;

$quarter-base: #F5E8C7 !default;
$half-base: #f5da9d !default;
$base: #fbc751 !default;
$strong-base: #f09a36 !default;

$accent: #cc514e !default;

// Background Color
$base-background-color: $white-2 !default;

// Font Colors
$base-font-color: $black-3 !default;
$base-accent-color: $accent !default;

// Link Colors
$base-link-color: lighten($accent, 20%) !default;
$hover-link-color: $accent !default;
$base-button-color: $base-link-color !default;
$hover-button-color: $hover-link-color !default;

// Footer Colors
$footer-background: desaturate($strong-base, 20%);
$footer-color: $black-3;
$footer-link-color: transparentize($footer-color, 0.4);
$footer-disclaimer-color: transparentize($white-2, 0.4);

// Flash Colors
$alert-color: $light-yellow !default;
$error-color: $light-red !default;
$notice-color: lighten($base-accent-color, 40) !default;
$success-color: $light-green !default;

// Border color
$base-border-color: $white-2 !default;
$base-border: 1px solid $base-border-color !default;

// Forms
$form-border-color: $base-border-color !default;
$form-border-color-hover: darken($base-border-color, 10) !default;
$form-border-color-focus: $base-accent-color !default;
$form-border-radius: $base-border-radius !default;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06) !default;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7) !default;
$form-font-size: $base-font-size !default;
$form-font-family: $base-font-family !default;