// Application Style Controller

// Vendor & Base Sass
// ------------------------------------------------------------------------
@import "../../_vendor/bourbon/app/assets/stylesheets/bourbon";
@import "../../_base/base";
@import "../../_vendor/neat/app/assets/stylesheets/neat";
@import "../../_vendor/twemoji-awesome/twemoji-awesome";

// Theme-specific Variables
// ------------------------------------------------------------------------
@import "_t-work-variables";
@import "_t-work-typography";


// Layouts
// ------------------------------------------------------------------------
@import "../../_layouts/_l-default";
@import "../../_layouts/_l-footer";
@import "../../_layouts/_l-header";
@import "../../_layouts/_l-sidebar";


// Modules
// ------------------------------------------------------------------------

@import "_modules/_m-pagination";
@import "_modules/_m-card";
@import "_modules/_m-toolbox";


// Theme Overrides
// ------------------------------------------------------------------------

//Post Page

.inpage-nav {
	font-size: 0.95em;
	font-weight: 600;
	padding:0.75em;
	margin: auto;
	margin-bottom: 1.5em;
	width: 85%;
}

.footnotes {
	font-size: 0.90em;
}


//Post Page Card

.card-note__info {
	margin-bottom: 2em;
}

.card-note__img {
  padding: 0em;
  margin: 0;

  img {
    width: 100%;
  }
} 

.card-note__work-metadata {
	margin: 1em 0em;
}

.card-note__title {
	margin-bottom: 0em;
}

.card-note__subtitle {

}

//Prototype Stuff

.prototype {
	@include shift(2);
}
