---
section: Collections
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

<div id="viewport" class="container">

    {% include collections/header.html %}

  <div class="wrapper">
    <section class="content--regular content--post">
      
      <div class="item-section-title">
        <h1>{{ page.title }}</h1>
        <p>{{ content }}</p>
      </div>

      <div class="item-box__outer">
        {% for item in site.items %}
        <article class="item-box">
          <div class="item-box__inner">
            <a href="{{ item.url }}">
              <h3 class="item-box__title">
                {{ item.name }}
              </h3>
            </a>
            <p>{{ item.description }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
    
    </section>
  </div>
</div>

    {% include collections/footer.html %}
    </body>
</html>

