---
section: Collections
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

<div id="viewport" class="container">

    {% include collections/header.html %}

  <div class="wrapper">
    <section class="content--regular content--post">
      
      <div class="card-item__section-title">
        <h1>{{ page.title }}</h1>
        <p>{{ page.intro }}</p>
      </div>

        {% for item in site.items %}
        <article class="card-item">
          <div class="card-item__inner">
            <a href="{{ item.source }}">
              <h3 class="card-item__title">
                {{ item.name }}
              </h3>
            </a>
            <p>{{ item.description }}</p>
          </div>
        </article>
        {% endfor %}
      
    
    </section>

    {% include collections/sidebar.html %}
  
  </div>
</div>

    {% include collections/footer.html %}
    </body>
</html>

