.card-item__header-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);
  
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.header-section__icon {
  img { 
    max-width: 4em;
    min-width: 3.5em;
  }
  
  align-self: center;
  
  @include media($small-screen) {
    padding-right: 15px; 
  }

}

.header-section__title {
  @include display(flex);
  @include flex-wrap(wrap);
  align-items: center;

  @include media($medium-screen-up) {
    flex-shrink: 50;
  }
}

.header-section__title-text {
  font-size: $h3-font-size; 
  color: $accent;
  margin-bottom: 0.1em;
  min-width: 100%;
  padding-left: 30px;
}

.header-section__subtitle-text {
  font-size: $h5-font-size;
  min-width: 100%;
  padding-left: 30px;
}

.card-item {
  
  @include margin(1em null 1.5em null);
  background: $white-2;

  @include media($medium-screen-up) { 
    &:hover { background: $white-3; }
    background: $white-2;
    padding: 0.5em;
  }
}

.card-item__inner {	
	padding: 0.75em;
}

.card-item__title {
  margin-bottom: 0.5em;
  font-size: $h5-font-size;
}

.card-item__text {  }