.card-item__section-title {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

  .section-title__header {
    font-size: $h3-font-size; 
    color: $accent;
    margin-bottom: 0.1em;
  }

  .section-title__subheader { }

.card-item {
  
  @include margin(1em null 1.5em null);

  @include media($medium-screen, $large-screen) { 
  &:hover { background: $box-background-hover; }
  background: $box-background-color;
  padding: 0.5em;
  }

  background: $box-background-color;
}

.card-item__inner {
	
	padding: 0.75em;
    blockquote {
    
	    &.link-description {
	      @include margin(0.8em null)
	    }

	    @include media($medium-screen, $large-screen) { 
	      border-left: 2px solid darken($medium-gray, 8%);
	    }
	    
	    font-size: 0.95em;
	    border-left: 2px solid $light-gray;
  }

  span.quote {
      font-size: 0.95em;
      color: darken($medium-gray, 8%)
  }
}

.card-item__title {
  margin-bottom: 0.5em;
  font-size: $h5-font-size;
}

.card-item__description { 
  @include margin(1em null 1em null);
}

.card-item__tweet {
  @include media ($large-screen) {
    @include shift(0.95);
  }

}

.card-item__permalink {
  @include media ($medium-screen-up) {
        @include span-columns(3 of 10);  
        @include shift(7);
        margin-top: -0.8em;
  }

  @include span-columns(5 of 10);  
  @include shift(5);
  text-align: right;

    &:hover {
      .permalink__text {
        opacity: 1;
      }
    }
}

.permalink__text {  
  opacity: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.permalink__icon {
  height: 18px;
  vertical-align: middle;
}

.card-item__img {
  padding: 0em;
  margin: -1.25em;
  margin-bottom: 0.5em;

  img {
    width: 100%;
  }
} 