.card-collections {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);
}

.card-collection {
  @include display(flex);
  @include flex-basis(28em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);

  background: $box-background-color;
  box-shadow: 0 2px 4px darken(white, 10%);
  cursor: pointer;
  margin: 0.8em;
  min-height: 130px;
  position: relative;

  .card-collection__inner {
    @include display(flex);
    justify-content: left;
    min-width: 100%;

    &:hover {
      //h3 { color: darken($accent, 20%); }
    }
  }
}

.card-collection__content {
  align-self: center;
  order: 1;
  border-bottom: 2em;
  flex-shrink: 50;
  font-weight: bold;
  line-height: 1.5em;
  padding: 1.5em;
}

.card-collection__title {
  text-align: left;
  color: $accent;
}

.card-collection__text { 
 //@extend .mobile-hide;
 p { margin-top: 0.5em; }
}

.card-collection__text--mobile { 
 @extend .desktop-hide;
 order: 2;
}

.card-collection__image {
    
    img { max-width: 2.8em }
    align-self: flex-start;
    padding: 1.8em 0em 0em 1.5em;

    @include media($medium-screen, $large-screen) {
      img { max-width: 4em }
      align-self: center;
      padding: 0em 0em 0em 1.5em;
    }

}
