.link-section-title {
  margin-top: 1em;
  h3 { font-size: $h5-font-size; }
}

.card-note {
  @include media($medium-screen-up) { 
    padding: 0.5em;
  }

  background: $base-light;
  border-bottom: 1px solid $outlier;
  padding:0.5em 0.5em 1.5em 0.5em

}

.card-note__inner {
  padding: 0.75em;
  width: 90%;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

    span.quote {
        font-size: 0.95em;
        color: darken($medium-gray, 8%)
    }

  blockquote {   
    
    @include margin(1em null);

    p {
      font-size: 0.97em;
    }

    @include media($medium-screen-up) { 
      border-left: 2px solid darken($medium-gray, 8%);
    }
    
    ul {
      margin-left: 1em;
      list-style-type: disc;
    }

    border-left: 2px solid $light-gray;
  }

}

.card-note__title {
  margin-bottom: 1em;
  //font-size: $h5-font-size;
}

.card-note__description { 
  @include margin(1em null 1em null);
}

.card-note__tweet {
  @include media ($large-screen-up) {
    @include shift(0.95);
  }

}

.card-note__permalink {
  @include media ($medium-screen-up) {
        @include span-columns(3 of 10);  
        @include shift(7);
        margin-top: -0.8em;
  }

  @include span-columns(5 of 10);  
  @include shift(5);
  text-align: right;

    &:hover {
      .permalink__text {
        opacity: 1;
      }
    }
}

.permalink__text {  
  opacity: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.permalink__icon {
  height: 18px;
  vertical-align: middle;
}

.card-note__img {
  padding: 0em;
  margin: -1.25em;
  margin-bottom: 0.5em;

  img {
    width: 100%;
  }
} 