.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);

}

$colors: red, orange, purple;
$repeat: 20;  // How often you want the pattern to repeat.
// Warning: a higher number outputs more CSS.

@for $i from 1 through $repeat {
    .card:nth-child(#{length($colors)}n+#{$i}) {
        background: lighten(nth($colors, random(length($colors))), 30%);
    }
}

.card {
  @include display(flex);
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);

  background-color: gainsboro;
  border-radius: 6px;
  box-shadow: 0 2px 4px darken(white, 10%);
  cursor: pointer;
  margin: 0.8em;
  min-height: 130px;
  position: relative;

  .card-header {
    margin: auto; 
    border-bottom: 2em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 30px;
    text-align: center;
  }
}
