.card-note__section-title {
  background: $black-1;
  border-bottom: 1px solid $outlier;
  border-top: 0px;
}

.section-title__header-text {
  color: $outlier;
  font-size: $h5-font-size;
  font-weight: 600;
  padding: 1em 0em;
}

.card-note {
  background: $white-2;
  border-bottom: 1px solid $outlier;
  padding:0.5em 0.5em 1.5em 0.5em;

  @include media($medium-screen-up) { 
    padding: 0.5em;
  }
}

.card-note__inner {
  padding: 0.75em;
  
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 85%;

  span.quote {
    font-size: 0.95em;
    color: darken($white-1, 8%)
  }

  blockquote {    
    
    @include margin(1em null);
    border-left: 2px solid darken($white-1, 8%);
    font-family: $header-font-family
;
    font-weight: 500;
    font-size: 0.98em;

    strong {
      font-weight: 600;
    }
    
    ul {
      margin-left: 1em;
      list-style-type: disc;
    }
  }

}

.card-note__title {
  margin-bottom: 1em;
}

.card-note__description { 
  @include margin(null null 1em null);

  hr {
    border-bottom: 1px solid #D5CAB1;
    margin-bottom: 1.5em;
  }

  p {
    sup {  
      font-weight: 600;
      font-family: $header-font-family
;
      margin-left: 0.1em;
    }
  }
}

.card-note__tweet {
  @include media ($large-screen-up) {
    @include shift(0.95);
  }
}

.card-note__permalink {
  @include media ($medium-screen-up) {
        @include span-columns(3 of 10);  
        @include shift(7);
        margin-top: -0.8em;
  }

  @include span-columns(5 of 10);  
  @include shift(5);
  text-align: right;

    &:hover {
      .permalink__text {
        opacity: 1;
      }
    }
}

.permalink__text {  
  opacity: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.permalink__icon {
  height: 18px;
  vertical-align: middle;
}

.card-note__img {
  padding: 0em;
  margin: -1.25em;
  margin-bottom: 0.5em;

  img {
    width: 100%;
  }
} 