.card__section-title {
  background: $black-1;
  border-bottom: 1px solid $outlier;
  border-top: 0px;
}

.section-title__header-text {
  color: $outlier;
  font-size: $h5-font-size;
  font-weight: 600;
  padding: 1em 0em;
}

.card {
  background: $white-2;
  border-bottom: 1px solid $outlier;
  padding:0.5em 0.5em 1.5em 0.5em;

  @include media($medium-screen-up) {
    padding: 0.5em;
  }
}

.card__inner {
  padding: 0.75em;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  @include media($medium-screen-up) {
    width: 85%;
  }

  cite {
    font-size: 0.8em;
    text-align: center;
  }

  span.quote {
    font-size: 0.95em;
    color: darken($white-1, 8%)
  }

  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
  }

  blockquote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-left: 2px solid darken($white-1, 8%);
    font-family: $header-font-family;
    font-weight: 500;
    font-size: 0.98em;

    strong {
      font-weight: 600;
    }

    ul {
      margin-left: 1em;
      list-style-type: disc;
    }
  }

  h4 + blockquote {
    margin-top: 1em;
  }

  h4 {
    margin-top: 1.5em;
  }

}

.card__header {
  margin-bottom: 2em;
}

.card__title {
  font-weight: 700;
  font-size: 1.5em;

  @include media($medium-screen-up) {
    font-size: 2em;
  }
}

.card__subtitle {
  margin-bottom: 0.5em;
  font-size: 1.45em;
}

.card__date {
  color: lighten($black-3, 20%);
  display: block;

  font-family: $header-font-family;
  font-size: 1em;
  font-weight: 600;

  margin-bottom: 1.75em;

    @include media($medium-screen-up) {
    font-size: 1.4em;
  }
}



.card__description {
  @include margin(null null 1em null);

  hr {
    border-bottom: 1px solid #D5CAB1;
    margin-bottom: 1.5em;
  }

  p {
    sup {
      font-weight: 600;
      font-family: $header-font-family;
;
      margin-left: 0.1em;
    }
  }
}

.card__tweet {
  @include media ($large-screen-up) {
    @include shift(0.95);
  }
}

.card__permalink {
  @include media ($medium-screen-up) {
        @include span-columns(3 of 10);
        @include shift(7);
        margin-top: -0.8em;
  }

  @include span-columns(5 of 10);
  @include shift(5);
  text-align: right;

    &:hover {
      .permalink__text {
        opacity: 1;
      }
    }
}

.card__readmore {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 0.5em;
}

.permalink__text {
  opacity: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.permalink__icon {
  height: 18px;
  vertical-align: middle;
}

.card__img {
  padding: 0em;
  margin-bottom: 0.5em;

  img {
    border-radius: 10px;
  }

  @include media ($medium-screen-up){
    width: 100%;
    margin: 0 auto 0.5em auto;
  }

  img {
    width: 100%;
  }
}

.img__stroke {
  border: 3px solid $white-1;
}
