// Hero Variables
// ------------------------------------------------------------------------

  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-color: $strong-base;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

// Hero
// ------------------------------------------------------------------------

.hero {

  @include span-columns(16 of 16);
  @include linear-gradient(90deg, #6441A5 10%, #2a0845 90%);
  
  button {
    background-color: $base-accent-color;
    padding: 0.7em 1em;
  }
}

.hero-logo {
  height: 6em;
  margin-bottom: 1em;
}

.hero-inner {
  @include omega;
  @include clearfix;
  margin: auto;
  padding: 3.5em;
  text-align: center;
}

.hero-copy {
  text-align: center;
 
  h1 {
    color: $quarter-base;
    margin-bottom: 0.1em;

    a {
      color: $quarter-base;
      
      &:hover { 
        color: darken($quarter-base, 10%)
      }
    }
  }

  h2 {
    color: $quarter-base;
    font-size: $h5-font-size;
  }

  .hero-list { 
    margin-top: 1em;
    margin-bottom: 0.5em;

    li {
      color: $quarter-base;
      display: inline;

      font-family: $header-font-family;
      font-size: $h4-font-size;
      font-weight: 300;

      line-height: 1.4em;
      list-style-type: none;
 
      margin: 0 auto 0 auto; 
      padding: 0.25em 0em;
      //text-align: left;
    }      
    
      li:nth-child(odd)::after {
            content: " ·";
            font-weight: 700;
      }

      li:nth-child(2)::after {        
            content:"\a";
            white-space: pre;
      }
    

      @include media($medium-screen, $large-screen) { 

        li:nth-child(1)::after, li:nth-child(2)::after, li:nth-child(3)::after { 
          content: " ·";
          font-weight: 700;
        }

        li:last-of-type {
          content: " "
        }
      }
    }

//

}
