
// Hero
// ------------------------------------------------------------------------

.hero {
  @include span-columns(16 of 16);  
  background: none;
  margin-bottom: -1em;
  border-top: 10px solid $accent;
}

.hero-logo {
  height: 6em;
  margin-bottom: 1em;
}

.hero-inner {
  @include omega;
  @include clearfix;
  margin: auto;
  padding: 1.5em 6.5em;
  text-align: center;
}

.hero-copy {
  text-align: left;
}  

.hero-copy__title { 
  color: $accent;
  font-size: $h4-font-size;
  font-weight: 400;
  margin-bottom: 0.1em;

  .title__link {
    color: $accent;
    
    &:hover { 
      color: lighten($accent, 15%);
    }
  }
}

.hero-copy__sitename {
  color: $base-light;
  font-size: $h3-font-size;
  font-weight: 400;
  
}

.hero-list { 
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.hero-list__item {
  color: $dark-gray;
  display: inline;

  font-family: $header-font-family;
  font-size: $h4-font-size;
  font-weight: 300;

  line-height: 1.4em;
  list-style-type: none;

  margin: 0 auto 0 auto; 
  padding: 0.25em 0em;
  //text-align: left;
      

  &:nth-child(odd)::after {
        content: " ·";
        font-weight: 700;
  }

  &:nth-child(2)::after {        
        content:"\a";
        white-space: pre;
  }


  @include media($medium-screen-up) { 

    &:nth-child(1)::after, &:nth-child(2)::after, &:nth-child(3)::after { 
      content: " ·";
      font-weight: 700;
    }

    &:last-of-type {
      content: " "
    }
  }

}
