
// Hero
// ------------------------------------------------------------------------

.hero {

  @include span-columns(16 of 16);  
  background: url("../images/interface/bg_link.png");
  background-repeat: repeat-x 0 0;

  button {
    background-color: $base-accent-color;
    padding: 0.7em 1em;
  }
}

.hero-logo {
  height: 6em;
  margin-bottom: 1em;
}

.hero-inner {
  @include omega;
  @include clearfix;
  margin: auto;
  padding: 3.5em;
  text-align: center;
}

.hero-copy {
  text-align: center;
}  

.hero-title { 
  color: $black-3;
  font-size: $h1-font-size; 
  margin-bottom: 0.1em;

  a {
    color: $black-3;
    
    &:hover { 
      color: darken($black-3, 10%)
  }
}
}

.hero-list { 
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.hero-list__item {
  color: $black-3;
  display: inline;

  font-family: $header-font-family;
  font-size: $h4-font-size;
  font-weight: 300;

  line-height: 1.4em;
  list-style-type: none;

  margin: 0 auto 0 auto; 
  padding: 0.25em 0em;
  //text-align: left;
      

  &:nth-child(odd)::after {
        content: " ·";
        font-weight: 700;
  }

  &:nth-child(2)::after {        
        content:"\a";
        white-space: pre;
  }


  @include media($medium-screen-up) { 

    &:nth-child(1)::after, &:nth-child(2)::after, &:nth-child(3)::after { 
      content: " ·";
      font-weight: 700;
    }

    &:last-of-type {
      content: " "
    }
  }

}
