/* --- --- --- --- --- --- --- */
// Links Theme Variables
/* --- --- --- --- --- --- --- */

//General
$img-url: "../../images";

// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: "calluna-sans";

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.5;
$h2-font-size: $base-font-size * 2.25;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.65;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Default Colors
$blue: #477DCA;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// LinkList Colors
$dark-gray: #757473;
$medium-gray: #cccbc8;
$light-gray: #f5f2eb;

$strong-clear: #F5E8C7;
$quarter-base: #F5E8C7;
$half-base: #f5da9d;
$base: #fbc751;
$strong-base: #f09a36;

$accent: #cc514e;

// Background Color
$base-background-color: $light-gray;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $accent;

// Link Colors
$base-link-color: $accent;
$hover-link-color: $accent;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

//Footer Colors
$footer-background: desaturate($strong-base, 20%);
$footer-color: $dark-gray;
$footer-link-color: transparentize($footer-color, 0.4);
$footer-disclaimer-color: transparentize($light-gray, 0.4);
  
// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;