<header class="navigation" role="banner">
  
</header>

<div class="page-header">
  <div class="hero">
    <div class="hero-inner">
      
      <img class="hero-logo" src="{{ site.baseurl }}/assets/images/interface/logo.svg" alt="Logo Image">
      <div class="hero-copy">
        <h1>The Link List</h1>
        <h5>Curated by Daniel Fosco</h5>
        <ul class="hero-list">
            <li>Design</li>
            <li>Development</li>
            <li>Startups</li>
            <li>Weird News</li>
        </ul>
        
        <div>
          
        </div>
      </div>

    </div>
  </div>
</div>

    <div class="content">

      <div class="cta">
        <small>
          <p>Newsletter on a short hiatus.</p>
          <p>Subscribe to be notified when things start rolling again.</p>
        </small>
    
        <form accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">
        
        <div class="input">
          <input type="email" name="email" placeholder="someone@email.com">
        </div>
        
        <button action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Yes, please!</button>
      </div>