<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="{{ site.author.name }}">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
     <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize/normalize.css">

    {% if page.layout == 'home' %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main-home.css">    
    {% elsif page.layout == 'post' %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    {% else %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    {% endif %}
 
 


	<!-- Facebook OG Tags -->
    <meta  property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Google Analytics -->

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/pwb8zfr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>


