<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    
        <a class="back-home" href="http://danielfos.co">
          <img src='assets/images/back-arrow.svg' class="back-arrow" onmouseover="this.src='assets/images/back-arrow--hover.svg';" onmouseout="this.src='images/back-arrow.svg';" />
          <span class="mobile-hide">Go Home</span>
        </a>

  </div>
</header>

<div class="page-header">
  <div class="hero">
    <div class="hero-inner">
      
      <img class="hero-logo" src="assets/images/logo.svg" alt="Logo Image">
      <div class="hero-copy">
        <h1>The Link List</h1>
      
        <ul class="hero-list">
            <li>Design</li>
            <li>Development</li>
            <li>Startups</li>
            <li>Weird News</li>
        </ul>

      </div>

    </div>
  </div>
</div>

<div class="content">
  <div class="cta">
  <div>
    <p>New links in your inbox every <span style="text-decoration:line-through">Sunday</span> Monday!</p>
  </div>

  <form accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">

  <div class="input">
    <input type="email" name="email" placeholder="someone@email.com">
  </div>

  <button action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Yes, please!</button>
  </div>

  <section class="link-list">
    {{ content }}
  </section>
</div>