
            {% if page.image-name == "none" %}
            {% else %}
            
              <div class="card-note__img">
                {% if page.source == null %}
                <img src="{{ site.baseurl }}/assets/images/articles/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.image-name }}" alt="{{ page.image-alt }}">
                {% else %}
                <a href="{{ page.source }}?ref=danielfosco-linklist" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/articles/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.image-name }}" alt="{{ page.image-alt }}">
                </a>
                {% endif %}
              </div>
            
            {% endif %}