<aside class="sidebar mobile-hide">
	<div class="sidebar__box">
	    <div class="sidebar__inner">
			
		<!-- <h2>About</h2> -->
	    <p><strong>The Link List</strong> is a weekly newsletter with curated links and commentary on design, startups, technology and (sometimes) weird things.</p>
	      
	    <p>The newsletter is currently on a short hiatus, but make sure to subscribe to get it once it returns.</p>
	    
	    <form accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">
	    
	    <div class="input">
	      <input type="text" name="name" placeholder="First Name">
	      <input type="email" name="email" placeholder="Email Address">
	    </div>
	    
	    <button action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Subscribe</button>
	    </div>
	</div>
</aside>