<header>
  <div class="wrap">
    <nav>
      <ul id="desktop">
        <li><a href="{{ site.url }}/">Daniel Fosco</a></li>
        <li><a href="{{ site.url }}/#recent-projects">Work</a></li>
        <li><a href="http://blog.danielfos.co">Blog</a></li>
        <li><a href="{{ site.url }}/#say-hi">Say Hi</a></li>
      </ul>

    
      <ul id="mobile">
        <li><a href="{{ site.url }}">Daniel Fosco</a></li>
        <li class="hidden"><a href="{{ site.url }}/#recent-projects">Work</a></li>
        <li class="hidden"><a href="http://blog.danielfos.co">Blog</a></li>
        <li class="hidden"><a href="{{ site.url }}/#say-hi">Say Hi</a></li>
      </ul>
    </nav>


  </div>
</header>
        