<aside class="sidebar">
	<div class="sidebar__box--collection">
	    <div class="sidebar__inner">
			
		<h5 class="sidebar__title">Get updated on your favorite Buckets</h5>

		<p class="sidebar__text">Subscribe to the weekly <strong>Link List</strong> newsletter and know every time a bucket is updated or a new one is added.</p>
		<p class="sidebar__text">Don't worry about spam, I hate it as much as you do.</p>
	    
	    <form class="sidebar__form" accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">
	    
	    <div class="sidebar__inputs">
	      <!-- <input type="text" name="name" placeholder="First Name"> -->
	      <input type="email" name="email" placeholder="Email Address">
	    </div>
	    
	    <button action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Subscribe</button>
	    </div>
	</div>
</aside>