---
section: The Link List
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div id="viewport" class="container">

    {% include links/header.html %}
      <div class="wrapper">

        <section class="content--regular content--post">
          <article class="link-box">
            <div class="link-box__inner">
              
            {% if page.image-name == "none" %}
            {% else %}
            
              <div class="link-box__img">
                {% if page.source == null %}
                <img src="{{ site.baseurl }}/assets/images/articles/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.image-name }}" alt="{{ page.image-alt }}">
                {% else %}
                <a href="{{ page.source }}" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/articles/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.image-name }}" alt="{{ page.image-alt }}">
                </a>
                {% endif %}
              </div>
            
            {% endif %}
              
              {% if page.source == null %}
              <h1 class="link-box__title">{{ page.title }}</h1>
              {% else %}
              <a href="{{ page.source }}" target="_blank">
              <h1 class="link-box__title">{{ page.title }}</h1>
              </a>
              {% endif %}

              <div>
                {{ content }}
              </div>

            </div>

         </article> 
        </section>

              {% include links/sidebar.html %}
      
      </div>
  </div>

  {% include links/footer.html %}
  
  </body>

</html>