// Default Layout
// ------------------------------------------------------------------------

body {
	margin: 0px;
  background: url("../images/interface/space_bg_bigger_n_brighter.png") repeat-x $black-2;
  //background-color: $base-background-color;
  color: $base-font-color;
}

code {
    font-size: 1.1em;
    background: #4B5057;
    padding: 0.2em;
    border-radius: 2px;
    color: #F5F2EB;
}

// ------------------------------------------------------------------------

.container {
  @include span-columns(16 of 16);
}

// ------------------------------------------------------------------------

.wrapper {
 
 @include outer-container;

}

// ------------------------------------------------------------------------

.content {

  margin-bottom: 1.5em;
  margin-top: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.content--regular {
  @extend .content;

  @include media($medium-screen-up) {
    @include span-columns(12 of 16);
    margin-bottom: 6em;
  }
}

.content--post {
    @include media($medium-screen-up) {
      margin-bottom: 6em;
    }

    margin-bottom: 0.5em;
}

.content--full {
  @extend .content;
  margin-top: 2.3em;
  margin-bottom: 6em;

  @include media($medium-screen-up) {
  @include span-columns(14 of 16);
  @include shift(1);
  }
}