.footer {
  
  @include span-columns(16 of 16);
  a { 
    text-decoration: none; 
    color: $white-2; 
    &:hover { color: darken($white-2, 10%) } 
  }
  
  background: $footer-background;  
  padding: ($base-spacing) $gutter;
}

.footer__text {
  color: $footer-disclaimer-color;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  text-align: center;
}

.footer__hr {
  border: 1px solid transparentize($white-2, 0.4);
  margin: 0 auto $base-spacing;
  width: 12em;
}

.footer__logo {
  margin-bottom: 2em;
  text-align: center;

  img {
    height: 2.5em;
  }
} 