
.header {
  @include span-columns(16 of 16);
  background: none;
  border-top: 10px solid $primary-lighter;
}

.nav__wrapper {
  @include outer-container;
  @include media($medium-screen-up) { padding: 1.5em 0.5em }
  text-align: center;
  padding: 1.5em 1em;
  
}

//--- --- ---
//General Layout and Flex Configuration for Nav Parent
//--- --- ---

.nav--regular {
  @include span-columns(12 of 16);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(baseline);
  
}

.nav--full {
  width: 100%;
  @extend .nav--regular;
} 

//--- --- ---
//General Layout and Flex Configuration for Nav Children
//--- --- ---

.subnav { 
  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(baseline);
  text-align: left;

  @include media($small-screen) {
    @include span-columns(16 of 16);

  }
}

//--- --- ---
//Style elements with flex-order according to classes defined by Liquid Logic
//--- --- ---

.subnav--first {
  @extend .subnav;
  @include order(0);

  @include media($medium-screen-up) {
    @include flex-grow(0.02);
  }

}

//This is still a fucking spaghetti, because I have no control over the order on the middle...
.subnav--middle {
  @extend .subnav;
  @include order(1);

  @include media($medium-screen-up) {
    @include flex-grow(0.3);
  }  
}

.subnav--last {
  @extend .subnav;
  @include order(10);
  @include justify-content(flex-end);
}

//--- --- ---
//Subnav Item Styling
//--- --- ---

//This is the basic setup
.subnav__text {
  a:hover { color: $accent }
  
  font-size: $h4-font-size * 0.935;
  font-weight: 500;
  padding-bottom: 0.25em;
}

//These are generic styles for regular nav items
.subnav__text--color {
  @extend .subnav__text;
  @extend .mobile-hide;
  a { color: $white-2 }
}

//This is the style for the current active nav item
.subnav__text--type__page-title { 
  @extend .subnav__text;

  @include media($medium-screen-up) { 
    font-size: $h1-font-size; 
  }

  a { color: $primary-lighter }
  a:hover { color: lighten($primary-lighter, 10%) }  
}

//This is the style for the last nav item -- doesn't get hidden on mobile
.subnav__text--color__daniel-fosco {
  @extend .subnav__text;
  a { color: $white-2 }
  a:hover { color: $accent-lighter }
}

//These are the specific styles for the regular nav items
.subnav__text--color__notes {
  @extend .subnav__text--color;
  a:hover { color: lighten($primary-homepage, 10%) }
}      

.subnav__text--color__buckets {
  @extend .subnav__text--color;
  a:hover { color: lighten($primary-buckets, 10%) }
}

.subnav__text--color__work {
  @extend .subnav__text--color;
  a:hover { color: lighten($primary-work, 10%) }
}