$navigation-padding: 1em;
$navigation-height: 60px;

.navigation {
  min-height: $navigation-height;
  margin-bottom: -$navigation-height;
  width: 100%;
  z-index: 999;
  background: none;
}

.navigation-wrapper {
  @include clearfix;
  @include outer-container;
  position: relative;
  z-index: 9999;
}

.back-home {
  font-family: 'jaf-domus-titling-web', $sans-serif;
  font-weight: 700;
  font-size: $h5-font-size;
  padding-left: $navigation-padding;
  
  a { color: #CC514E };
  a:hover { color: #CB4D4E };
}

.back-arrow {
  @include media($medium-screen, $large-screen) { 
    height: 15px;
    width: 20px;
    margin-right: 5px
  }

    height: 25px;
    margin-top: 15px;
}