header {
  height: 80.4px;
}

.header {
  @include span-columns(16 of 16);
  background: none;
  margin-bottom: -1em;
  border-top: 10px solid $accent;
}

.header-logo {
  height: 6em;
  margin-bottom: 1em;
}

.header-inner {
  @include outer-container;
  @include media($medium-screen-up) { padding: 1.5em 0.5em; };
  text-align: center;
  padding: 1.5em 1em;
  
}

.header-copy {
  text-align: left;
  @include span-columns(12 of 16);
}  

.header-copy__title { 
  color: $accent;
  font-size: $h2-font-size;
  font-weight: 400;
  margin-bottom: 0.1em;
}

.title__link {
color: $accent;
}

.title__link:hover { 
  color: $primary;
}

.header-copy__sitename {
  color: $base-light;
  font-size: $h3-font-size;
  font-weight: 400;
  
}
