.sidebar {
  @include media($medium-screen-up) {
    @include span-columns(4 of 16);
  }
}

.sidebar__box--notes {
  @include margin(3em 0.5em -1.5em);

  @include media($medium-screen-up) {
    @include margin(3em 0.5em 1.5em 0.5em);
  }
  
  background: $black-2;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar__box--notes--post {
  @extend .sidebar__box--notes;
  @include margin(1.5em null 1.5em null);  

  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar__box--collection {
  @extend .sidebar__box--notes; 
  background: $strong-clear;

  @include media($medium-screen-up) {
    margin-top: 12.4em;
  }
}

.sidebar__inner {
  @include outer-container;
  padding: 1em;
}

.sidebar__title {  
  font-size: $h4-font-size;
  font-weight: 500;
  color: $white-1;
  margin-bottom: 1em;
}

.sidebar__text {
  color: $white-1;
  text-align: left;

  @include media($medium-screen-up) {
    font-size: 0.97em;
  }
  
}

.sidebar__form {
  @include span-columns(12 of 12);
  display: inline-block;
}

.sidebar__input, .sidebar__button {
  @include span-columns(12 of 12);
}

.sidebar__inputs {
  font-size: 0.95em;
  box-shadow: none;

  input + input {
    margin-top: -0.5em;
  }
}


.sidebar__box--notes--cta {
  @extend .sidebar__box--notes;

  margin-top: 1.5em;
  background: $quarter-base;
  border-radius: 5px;
}

.sidebar__inner--cta {
  @extend .sidebar__inner;
  padding: 1em 0.5em 0em 0.5em;
}