.sidebar {
  @include media($medium-screen-up) {
    @include span-columns(5.5 of 16);
  }

  margin-top: 4.5em;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar--post {
  @extend .sidebar;
  margin-top: 2em;
}

.sidebar__box {
  background: $quarter-base;
  border-radius: 5px;
}

.sidebar__inner {
  @include outer-container;
  padding: 1.5em;

  h5 {
    margin-bottom: 1em;
  }

  p {
    text-align: left;
  }

  form {
    @include span-columns(12 of 12);
    display: inline-block;
  }
  
  .input, button {
    @include span-columns(12 of 12);
  }

  input + input {
    margin-top: -0.5em;
  }
}