{% if page.layout == "notes/post" %}
	{% assign sidebar_type = "--post" %}
{% else %}
	{% assign sidebar_type = "" %}
{% endif %}

<aside class="sidebar" id="subscribe">
	<div class="sidebar__box--notes{{ sidebar_type }} desktop-hide">
	    <div class="sidebar__inner">
		
	    <p class="sidebar__text">A tiny blog by designer &amp; developer Daniel Fosco.</p>
		
		<p class="sidebar__text">You can also <a href="https://www.twitter.com/notdanielfosco/?ref=notes">follow me on Twitter</a> if you want to, but don't expect too much.</p>

		<p class="sidebar__text">Thank you for reading! <i class="twa twa twa-zap"></i></p>
		
		<!-- 
	    <p class="sidebar__text">Subscribe to get the best of the week on your inbox every Sunday morning.</p>
		<p class="sidebar__text">Don't worry about spam, I hate it as much as you do.</p>
	    
	    <form class="sidebar__form" accept-charset="UTF-8" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">
		    <div class="sidebar__inputs">
		    	<input type="text" name="name" placeholder="First Name">
		    	<input type="email" name="email" placeholder="Email Address">
		    </div>
	    <button class="sidebar__button" action="https://formkeep.com/f/d87bb1fd8dd1" method="POST">Subscribe</button>
	    -->

	    </div>
	</div>
</aside>