---
layout: notes/default
width: regular
section: notes
title: Notes

---

  {% for post in paginator.posts %}
    
    {% comment %}   
      {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
      {% capture next_month %}{{ post.next.date | date: "%B" }}{% endcapture %}
      
      {% if this_month == next_month %}
      {% else %}
        <div class="card__section-title">
          <h3 class="section-title__header-text">{{ post.date | date: "%B" }}</h3>
        </div>
      {% endif %}
    {% endcomment %}   
      
        <article class="card" id="{{ post.url | replace: '/links/', '' | replace: '/notes/', '' }}">
          <div class="card__inner">

              {% if post.image-name != "none" %}
              
                <div class="card__img">
                  {% if post.source == null %}
                    <a href="{{ site.url }}/{{ post.url }}" target="_blank">
                      <img src="{{ site.baseurl }}/assets/images/articles/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.image-name }}" alt="{{ post.image-alt }}">
                     </a>
                    {% else %}
                    <a href="{{ post.source }}?ref=danielfosco" target="_blank">
                      <img src="{{ site.baseurl }}/assets/images/articles/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/{{ post.image-name }}" alt="{{ post.image-alt }}">
                    </a>
                  {% endif %}   
                </div>
                
              {% else %}
              {% endif %}   

              {% if post.source == null %}
              <a href="{{ post.url }}" target="_blank"><h2 class="card__title">{{ post.title }}</h2></a>
              {% else %}
              <a href="{{ post.source }}?ref=danielfosco" target="_blank"><h2 class="card__title">{{ post.title }}</h2></a>
              {% endif %}
              
              <div class="card__description">{{ post.content }}</div>
              
              <a href="{{ post.url }}">
               <div class="card__permalink">
                <span class="permalink__text">Permalink</span>
                {% if page.url contains "page" %}
                <img src="../../assets/images/interface/permalink.svg" alt="Permalink" class="permalink__icon">
                {% else %}
                <img src="../assets/images/interface/permalink.svg" alt="Permalink" class="permalink__icon">
                {% endif %}
                </div>
              </a>
            </div>
        </article>

  {% endfor %}

<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
    <li class="page-prev previous">
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    </li>
    {% else %}
    {% endif %}
    
    {% if paginator.next_page %}
    <li class="page-next next"><a href="{{ paginator.next_page_path }}">Next</a></li>
    {% else %}
    {% endif %}
  </ul>
</div>
