/*
Error: Invalid CSS after "  @mixin": expected identifier, was "($button-width){"
        on line 18 of /Users/danielfosco/git/linklist/source/sass/custom/toolbox.scss

13: 
14: 
15: // Form Button
16: // ------------------------------------------------------------------------
17:  
18:   @mixin($button-width){
19: 
20: 	  $button-width: 6 !default;
21: 	  @include media($medium-screen) { 
22: 	    $button-width: 4 !default;  
23: 	    button {

Backtrace:
/Users/danielfosco/git/linklist/source/sass/custom/toolbox.scss:18
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1096:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:228:in `mixin_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:42:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  @mixin\": expected identifier, was \"($button-width){\"\A         on line 18 of /Users/danielfosco/git/linklist/source/sass/custom/toolbox.scss\A \A 13: \A 14: \A 15: // Form Button\A 16: // ------------------------------------------------------------------------\A 17:  \A 18:   @mixin($button-width){\A 19: \A 20: 	  $button-width: 6 !default;\A 21: 	  @include media($medium-screen) { \A 22: 	    $button-width: 4 !default;  \A 23: 	    button {"; }
