<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div id="viewport" class="container">

    {% include header.html %}
      
      <section class="link-list">
        
        <article class="link-box">
          <div class="link-box__inner">
            
          {% if page.image == 1 %}

            <div class="link-box__img">
              <a href="{{ page.source }}" target="_blank">
              <img src="{{ site.baseurl }}/assets/images/articles/{{ page.date | date: '%Y' }}/{{ page.date | date: '%m' }}/{{ page.image-name }}" alt="{{ page.image-alt }}">
              </a>
            </div>

          {% else %}
          {% endif %}

            <a href="{{ page.source }}" target="_blank">
            <h3 class="link-box__title">{{ page.title }}</h3>
            </a>

            <div>{{ content }}</div>
            
            
          </div>
      </article> 

      </section>
    
    
  
  </div>

  {% include footer.html %}
  
  </body>

</html>