{% include head.html %}

  <div id="viewport" class="container">

    {% include header.html %}

      <div class="wrapper">

        <section class="content--regular content--post">

            <div class="card-note__img">
              {% if page.meta-hero %}
                {% if page.meta-hero contains "http" %}
                  <img src="{{ page.meta-hero }}" alt="{{ page.meta-alt }}">
                {% else %}
                  <img src="{{ site.baseurl }}/assets/images/work/{{ page.title | slugify }}.png" alt="{{ page.image-alt }}">
                {% endif %}
              {% endif %}
            </div>

          <article class="card-note">
            
            <div class="card-note__inner">
              
              <div class="card-note__info">
                <h1 class="card-note__title">{{ page.title }}</h1>
                <h2 class="card-note__subtitle">{{ page.tagline }}</h2>
                
                <div class="card-note__work-metadata">
                  <ul class="work-metadata__list">

                    {% if page.meta-project %}
                    <li class="work-metadata__item"><strong>Project: </strong>{{ page.meta-project }}</li>
                    {% endif %}
                    
                    {% if page.meta-client %}
                    <li class="work-metadata__item"><strong>Client: </strong>{{ page.meta-client }}</li>
                    {% endif %}

                    {% if page.meta-role %}
                    <li class="work-metadata__item"><strong>Role: </strong>{{ page.meta-role }}</li>
                    {% endif %}

                    {% if page.meta-timeline %}
                    <li class="work-metadata__item"><strong>Timeline: </strong>{{ page.meta-timeline }}</li>
                    {% endif %}

                    {% if.page.project-url %}        
                      <li class="work-metadata__item"><strong><a href="{{ page.project-url }}">See the project</a></strong></li>
                    {% endif %}                  

                    {% if.page.prototype %}        
                      <li class="work-metadata__item"><strong><a href="#prototype">See the prototype</a></strong></li>
                    {% endif %}  

                    {% if.page.meta-freestyle %}        
                      {% if.page.meta-freestyle-link %}
                      <a href="{{ page.meta-freestyle-link }}">
                      {% endif %}
                          
                          <li class="work-metadata__item"><strong>{{ page.meta-freestyle }}</strong></li>                    
                      
                      {% if.page.meta-freestyle-link %}
                      </a>
                      {% endif %}                      
                    {% endif %}  

                  </ul>
                </div>
              </div>      


              {% if page.prototype %}
                  <div class="project__cta mobile-hide">
                      <a href="#prototype">
                        <button>See the prototype</button>
                      </a>
                  </div>

                  <div class="project__cta desktop-hide">
                      <a href="{{ page.prototype-url }}" target="_blank">
                        <button>See the prototype</button>
                      </a>
                  </div>
              {% endif %}

              <!-- === === === === === === CONTENT === === === === === ===  -->
                {{ content }}
              <!-- === === === === === === CONTENT === === === === === ===  -->            

              {% if page.prototype %}
                <div class="prototype-wrapper" id="prototype">
                  {% if page.prototype-embed-url %}
                    <div class="prototype mobile-hide">
                      <iframe width="396" height="834" src="{{ page.prototype-embed-url }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  {% endif %}

                  <div class="prototype__button desktop-hide">
                      <a href="{{ page.prototype-url }}" target="_blank">
                          <button>
                              Open Prototype
                          </button>
                      </a>
                  </div>    
                </div>
              {% endif %}

              {% if page.append-bucket %}
                  {% for item in site.items %}
                    {% if item.parent-collection == page.append-bucket %}
                      <section class="append-bucket">
                        <div class="">
                          <div class="">
                            <a href="{{ item.source }}">
                              <h3 class="card-item__title">
                                {{ item.name }}
                              </h3>
                            </a>
                            <p class="card-item__text">{{ item.content }}</p>
                          </div>
                        </div>                      
                      </section>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            
              <nav class="inpage-nav">
                <a href="/work">&#8592 back to Work</a>
              </nav>

          </article> 
        </section>
      </div> <!-- wrapper -->

    {% include footer.html %}

  </div> <!-- viewport -->

</body>
</html>