{% include head.html %}

<div id="viewport" class="container">

  {% include header.html %}
    <div class="wrapper">

      <section class="content--regular content--post">

          <div class="card-note__img">
            {% if page.meta-hero %}
              {% if page.meta-hero contains "http" %}
                <img src="{{ page.meta-hero }}" alt="{{ page.meta-alt }}">
              {% else %}
                <img src="{{ site.baseurl }}/assets/images/work/{{ page.title | slugify }}.png" alt="{{ page.image-alt }}">
              {% endif %}
            {% endif %}
          </div>

        <article class="card-note">
          <div class="card-note__inner">
                  
          <h1 class="card-note__title">{{ page.title }}</h1>
          <h2 class="card-note__subtitle">{{ page.tagline }}</h2>
          

          <div class="card-note__work-metadata">
            <ul class="work-metadata__list">

              {% if page.meta-project %}
              <li class="work-metadata__item"><strong>Project:</strong>{{ page.meta-project }}</li>
              {% endif %}
              
              {% if page.meta-client %}
              <li class="work-metadata__item"><strong>Client:</strong>{{ page.meta-client }}</li>
              {% endif %}

              {% if page.meta-role %}
              <li class="work-metadata__item"><strong>Role:</strong>{{ page.meta-role }}</li>
              {% endif %}

              {% if page.meta-timeline %}
              <li class="work-metadata__item"><strong>Timeline:</strong>{{ page.meta-timeline }}</li>
              {% endif %}

            </ul>
          </div>
          
          {% if.page.project-url %}
          <div class="project__cta">
              <a href="{{ page.project-url }}">
                <button>See the project</button>
              </a>
          </div>          
          {% endif %}

          {% if page.prototype %}
          <div class="prototype__cta mobile-hide">
              <a href="#prototype">
                <button>See the prototype</button>
              </a>
          </div>

          <div class="prototype__cta desktop-hide">
              <a href="{{ page.prototype-url }}" target="_blank">
                <button>See the prototype</button>
              </a>
          </div>
          {% endif %}

            <div>
              {{ content }}
            </div>

            {% if page.prototype %}
            
            <div class="prototype-wrapper" id="prototype">
              {% if page.prototype-embed %}
              <div class="prototype mobile-hide">
                <iframe width="396" height="834" src="{{ page.prototype-embed }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endif %}

              <div class="prototype__button desktop-hide">
                  <a href="{{ page.prototype-url }}" target="_blank">
                      <button>
                          Open Prototype
                      </button>
                  </a>
              </div>    
              {% endif %}
            </div>
        
            <nav class="inpage-nav">
              <a href="/work">&#8592 back to Work</a>
            </nav>

          </div>
              
       </article> 
      </section>
    
    </div>
</div>

{% include footer.html %}

</body>

</html>