<header role="banner">

<div class="page-header">
  <div class="hero">

    <div class="hero-inner">
      
      <a href="{{ site.domain }}/collections">
        <img class="hero-logo" src="{{ site.baseurl }}/assets/images/interface/logo_collections.svg?bust={{ site.time | date: '%s' }}" alt="Logo Image">
      </a>
      <div class="hero-copy">

        {% if page.layout contains "post" %}
        <h3>
        {% else %}
        <h1>
        {% endif %}

          <a href="{{ site.domain }}/collections">Collections</a>

        {% if page.layout contains "post" %}
        </h3>
        {% else %}
        </h1>
        {% endif %}

        <h5>Tips & tricks, articles and tools — conveniently collected in one place.</h5>
        
        <!-- 
        <ul class="hero-list">
            <li>Design</li>
            <li>Development</li>
            <li>Startups</li>
            <li>Weird News</li>
        </ul>
         -->
      </div>

    </div>
  </div>
</div>

</header>



      